<section>
    <!--<a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>-->
    <!--<a href="#/" class="btn btn-primary btn-lg" role="button">Back</a>-->
    <div class="book-detail">
        <img src="/images/actuals/{{currentBook.asin}}.jpg" alt="actual-image">
        <div>
            <h3>{{currentBook.author}}</h3>
            <h5>{{currentBook.published_at | date:'yyyy-MM-dd'}}, ISBN: {{currentBook.isbn}}</h5>
            <p>Lorem...</p>
        </div>
    </div>
</section>
